:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.show-info-button {
  font-size: 1.25em;
  padding: 0.25em;
  border-radius: 0.25em;
  border: 2px solid hsl(0, 0%, 70%);
  background: rgb(194, 194, 194);
  transition: background 200ms ease-out;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.show-info-button:hover {
  background: lightgray;
}

.todo-list {
  height: 100vh;
  width: 60vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  margin-top: 1em;
  gap: 0.5em;
}

.todo-item {
  width: 60vw;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.25em;
  font-size: 1.25em;
  transition: background 100ms ease-out;
  border-radius: 0.25em;
  position: relative;
  line-height: 1em;
  height: 2.5em;
  overflow: none;
  white-space: nowrap;
  user-select: none;
  cursor: default;
}

.todo-item:hover {
  background: rgb(243, 243, 243);
}

.todo-item-actions {
  width: max-content;
  margin-left: auto;
}

.todo-item-copy {
  position: relative;
  z-index: 10000;
}

.todo-item-copy::after {
  content: "Copied!";
  position: absolute;
  left: 50%;
  top: -2em;
  transform: translateX(-50%);
  background: lightgray;
  padding: 0.3em;
  font-style: italic;
  border-radius: 0.25em;
  transition: opacity 100ms ease-out;
  opacity: 100%;
}

.hidden::after {
  opacity: 0%;
}

.icon {
  color: gray;
  cursor: pointer;
  transition: color 100ms ease-out;
}

.icon:hover {
  color: black;
}

.todo-item-hidden {
  display: none;
}

.todo-item:hover .todo-item-hidden {
  display: inline;
}

.todo-item-content {
  transition: color 500ms ease-out;
}

.todo-item-content[data-crossed-out="true"] {
  text-decoration: line-through;
  color: gray;
}

.add-todo-form {
  height: 2.5em;
  border: 2px solid lightgray;
  gap: 0;
  width: 100%;
  border-radius: 0.25em;
  overflow: hidden;
}

#add-todo-content {
  font-size: 1.25em;
  padding: 0.25em;
  width: 90%;
  height: 100%;
  border: none;
  background: rgb(194, 194, 194);
}

#add-todo-submit {
  height: 100%;
  width: 10%;
  font-size: 1.25em;
  padding: 0.25em;
  border: none;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.35em;
}

.action-button {
  font-size: 1.25em;
  background: rgb(194, 194, 194);
  border: 2px solid lightgray;
  padding: 0.3em;
  border-radius: 0.25em;
  transition: 100ms ease-out;
}

.action-button:hover {
  background-color: lightgray;
}

.new-user-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  width: 500px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1em 3em;
  gap: 1em;
  border-radius: 0.25em;
  z-index: 1000;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.new-user-info > ol {
  text-align: left;
  font-size: 1.25em;
  margin-top: auto;
  margin-bottom: auto;
}

.new-user-info-understood {
  font-size: 1.5em;
  padding: 0.4em;
  border-radius: 0.25em;
  border: 2px solid hsl(0, 0%, 70%);
  background: rgb(194, 194, 194);
  transition: background 200ms ease-out;
}

.new-user-info-understood:hover {
  background: lightgray;
}

.page-blocker {
  z-index: 999;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
